@import "tailwindcss";

body {
  background-color: #1e293b;
  /* slate-800 */
  margin: 0;
  padding: 0;
  height: 100%;

}

input[type="number"] {
  appearance: textfield;
  /* estándar */
  -moz-appearance: textfield;
  /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  /* estándar */
  -webkit-appearance: none;
  /* Chrome / Safari */
  margin: 0;
}